*{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
ul  {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.touch {
    padding: 10px;
    background-color: white;
    border: inherit;
    color: inherit;
    outline: black;
    outline-style: solid;
    text-decoration: none;
}

.main {
    background-image: url("istockimage.png");
    background-size: cover;
    height: 700;
}
.header2 {
    font-weight: bolder;
    font-size: 20px;

}
.h2 {
    padding-top: 250px;
    text-align: center;
    color: white;
    font-family: Verdana, sans-serif;
    letter-spacing: 10px;
    font-size: 35PX;
    font-weight: medium;
}
p {
    font-size: medium;
    text-align: center;
    color: white;
    position: relative;
}
.project {
    font-size: small;
    text-align: center;
    padding: 10px;
    position: relative;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border-color: white;
}
.proj {
    text-align: center;
    padding: 20px;
}
h6 {
    font-weight: 100;
}
