*{
    margin: 0;
    padding: 0;
}
.body {

    background-color:white;

}

.body1 {

    background-color: rgb(104, 98, 197);
    margin: auto;
    padding: 100px;
    width: 500px;

}
.body2 {

    background-color: white;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 40px;

}
.submit {
    background-color: rgb(104, 98, 197);
    color: white;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    border-color: rgb(104, 98, 197);

}
h3 {
    text-align: center;
    font: 1em sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(63, 63, 63);
}
p {
    text-align: center;
    color: rgb(151, 148, 148);
    font: 1em sans-serif;
    font-size: small;
}
.input {
    width: 100%;
    padding: auto;
    border: none;
    background-color: rgb(222, 226, 236);
    height: 50px;
    border-radius: 2px;

}